<div class="show-song">

<h3>Welcome to TipOfMyTune!</h3>

<div class="home-text">
<p>You know how you've had that song stuck in your head for like three weeks but you can't for the life of you remember what the name is?</p>
<p>Struggle no more!  Upload your song and our vibrant community of songcatchers will identify it in no time.</p>

<p>Think you know a song?  Comment underneath it and get your "Smart" rating up.</p>
</div>
</div>