/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$grey: #C0C0C0;

@mixin absolute-center($width, $height){
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -$width/2;
	margin-top: -$height/2;
}

body { 
   width:100%; 
   height:100%; 
   background:url(mountain.jpg) center center;
   background-size: cover;
   background-attachment: fixed;

   background-color: black;
}

form {
	margin-bottom: 10px;
	display: table;
  width: 100%;
  background-color: transparent;
}



.form-container {
	border: 1px solid black;
	overflow: hidden;
	background-color: $grey;
	text-align: center;
  vertical-align: middle;
  text-align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
	clear: both;
}

.errors {
	width: 150px;
	height: 100px;
	@include absolute-center(150px, 100px);
}

.song-form {
	width: 500px;
	height: 400px;
	@include absolute-center(500px, 400px);  
}

.new-user-form {
	width: 300px;
	height: 350px;
	@include absolute-center(300px, 350px);  
}

.login-form {
	width: 300px;
	height: 300px;
	@include absolute-center(300px, 300px);
}

.pick-file {
	margin-top: 10px;
}

.submit-song {
	margin-top: 5px;
	clear: both;
}

#song_hint {
	margin-top: 15px;
	width: 375px;
	height: 150px;
}

