.tough-number-10 {
	color: #FC1501;
}

.tough-number-9 {
	color: #ED200E;
}

.tough-number-8 {
	color: #DE2C1C;
}

.tough-number-7 {
	color: #CF382A;
}

.tough-number-6 {
	color: #C04438;
}

.tough-number-5 {
	color: #B15046;
}

.tough-number-4 {
	color: #A25B53;
}

.tough-number-3 {
	color: #936761;
}

.tough-number-2 {
	color: #84736F;
}

.tough-number-1 {
	color: #757F7D;
}

.selected {
	color: black;
}