<div class="guess-upvote">
	<span class="icon-thumbs-up vote" data-guess-id="<%=guessId%>"></span>
</div>
<div class="guess-downvote">
	<span class="icon-thumbs-down vote" data-guess-id="<%=guessId%>"></span>
</div>